@model VitalsModel

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">FriendsInfo</h4>
    </div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Spo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Systolic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diastolic)
        </dd>
    </dl>
</div>